.home__card {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  position: relative;
}

.home__card img {
  display: block;
  margin: 0 auto;
  object-fit: cover;
  width: 50%;
}

.home__card__menu {
  position: absolute;
  right: 10px;
  top: 10px;
}

.home__card__title {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.home__card__title__icon {
  font-size: 2rem;
}

.home__card__title__text {
  flex: 1;
}

.home__card__description {
  padding-bottom: 2rem;
}
